<div class="facebook view">
    <div class="container">
        <header>
            <h3><span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;Facebook API</h3>
        </header>
        <br />

        <div class="row">
            <div class="col-lg-6">
                <div class="input-group">
                    <span class="input-group-addon">ID</span>
                    <input type="text" class="form-control" placeholder="Nhập bài viết/video ID" ng-model="vm.postId">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="input-group">
                    <span class="input-group-addon">Access Token</span>
                    <input type="text" class="form-control" placeholder="Nhập facebook access token" ng-model="vm.token">
                </div>
            </div>
        </div>

        <hr>

        <div class="row">
            <div class="col-lg-12">
                <div class="input-group">
                    <span class="input-group-addon">Tìm kiếm</span>
                    <input type="text" class="form-control" placeholder="Nhập từ khoá tìm kiếm" ng-model="searchTerm">
                </div>
            </div>
        </div>

        <hr>

        <div class="row">
            <button class="btn btn-primary" ng-click="vm.getAllCommentsByPost()">Lấy danh sách comments</button>
            <button class="btn btn-primary pull-right" type="button">
                Số người <span class="badge">{{vm.comments.length}}</span>
            </button>
            <button class="btn btn-primary pull-right" type="button">
                Tổng comments <span class="badge">{{vm.totalComments.actual}}</span>
            </button>
        </div>
    </div>
 <!-- infinite-scroll="vm.getNextComments()" infinite-scroll-distance="3" -->
    <div class="container facebook-comments-container">
        <section class="comments" ng-hide="vm.comments.length === 0">
            <article class="comment" ng-repeat="comment in vm.comments | filter:searchTerm">
                <a class="comment-img cursor-pointer" ng-click="comment.isCollapsed = !comment.isCollapsed">
                    <img class="img-circle" src="{{comment.avatar}}" alt="" width="50" height="50">
                </a>
                <div class="comment-body">
                    <div class="text"
                        ng-if="comment.messages.length">
                        <p>
                            <span ng-bind-html="comment.messages[0].text | highlightFilter:searchTerm">
                                {{comment.messages[0].text}}
                            </span>
                            <em class="pull-right"> - at {{comment.messages[0].created}}</em>
                        </p>
                    </div>
                    <div collapse="comment.isCollapsed" ng-if="comment.messages.length > 1">
                        <div class="text"
                            ng-repeat="msg in comment.messages.slice(1)">
                            <p>
                                <span ng-bind-html="msg.text | highlightFilter:searchTerm">{{msg.text}}</span>
                                <em class="pull-right"> - at {{msg.created}}</em>
                            </p>
                        </div>
                    </div>
                    <p class="attribution">by <a  target="_blank" href="{{comment.userProfile}}">{{comment.username}}</a></p>
                </div>
            </article>
        </section>
    </div>

    <br /><br /><br />
</div>