<div class="facebook view">
    <div class="container">
        <header>
            <h3><span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;Facebook API</h3>
        </header>
        <br />
        <div class="row">
            <div class="col-lg-10 pull-right">
                <div class="input-group">
                    <span class="input-group-addon">Tìm kiếm</span>
                    <input type="text" class="form-control" placeholder="Nhập từ khoá tìm kiếm" ng-model="searchTerm">
                </div>
            </div>
        </div>

        <hr>

        <div class="row">
            <button class="btn btn-primary pull-right" type="button">
                Số người <span class="badge">{{vm.comments.length}}</span>
            </button>
            <button class="btn btn-primary pull-right" type="button">
                Tổng comments <span class="badge">{{vm.totalComments.actual}}/{{vm.totalComments.fb}}</span>
            </button>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row profile">
            <div class="col-md-3">
                <div class="profile-sidebar">
                    <!-- SIDEBAR USERPIC -->
                    <div class="profile-userpic">
                        <a href="{{vm.currentUser.profileLink}}" target="_blank">
                            <img ng-src="{{vm.currentUser.avatar}}"
                            class="img-responsive">
                        </a>
                    </div>
                    <!-- END SIDEBAR USERPIC -->
                    <!-- SIDEBAR USER TITLE -->
                    <div class="profile-usertitle">
                        <div class="profile-usertitle-name">
                            {{vm.currentUser.name}}
                        </div>
                        <div class="profile-usertitle-job">
                            Streamer
                        </div>
                    </div>
                    <!-- END SIDEBAR USER TITLE -->
                    <!-- SIDEBAR BUTTONS -->
                    <div class="profile-userbuttons">
                        <button type="button" class="btn btn-success btn-sm">
                            Theo dõi
                        </button>
                        <button type="button" class="btn btn-danger btn-sm">
                            Nhắn tin
                        </button>
                    </div>
                    <!-- END SIDEBAR BUTTONS -->
                    <!-- SIDEBAR MENU -->
                    <div class="profile-usermenu">
                        <ul class="nav">
                            <li ng-repeat="video in vm.videos"
                                ng-class="{'active': video.id === vm.currentVideoId}">
                                <a href="" ng-click="vm.getAllCommentsByPost(video.id)">
                                    <i class="glyphicon glyphicon-facetime-video"></i>
                                    {{ video.created_time | date:'dd-MM-yyyy HH:mm:ss'}}
                                </a>
                            </li>
                        </ul>
                    </div>
                    <!-- END MENU -->
                </div>
            </div>
            <div class="col-md-9 facebook-comments-container">
                <div class="profile-content">
                    <section class="comments" ng-hide="vm.comments.length === 0">
                        <article class="comment" ng-repeat="comment in vm.comments | filter:searchTerm">
                            <a class="comment-img cursor-pointer" ng-click="comment.isCollapsed = !comment.isCollapsed">
                                <img class="img-circle" src="{{comment.user.avatar}}" alt="" width="50" height="50">
                            </a>
                            <div class="comment-body">
                                <div class="text"
                                    ng-if="comment.messages.length">
                                    <p>
                                        <span ng-bind-html="comment.messages[0].text | highlightFilter:searchTerm">
                                            {{comment.messages[0].text}}
                                        </span>
                                    </p>
                                </div>
                                <div collapse="comment.isCollapsed" ng-if="comment.messages.length > 1">
                                    <div class="text"
                                        ng-repeat="msg in comment.messages.slice(1)">
                                        <p>
                                            <span ng-bind-html="msg.text | highlightFilter:searchTerm">{{msg.text}}</span>
                                        </p>
                                    </div>
                                </div>
                                <p class="attribution">
                                   <a ng-click="vm.sendMessage(comment.user)" href="">
                                        <span class="glyphicon glyphicon-envelope"></span>
                                    </a>

                                    <a ng-if="!comment.user.hasPhone && !comment.user.hasAddress"
                                        ng-click="vm.createCustomer(comment.user)"
                                        class="pull-right"
                                        href="">
                                        <span class="glyphicon glyphicon-plus"></span>
                                    </a>

                                    <a ng-if="(!comment.user.hasPhone && comment.user.hasAddress) || (!comment.user.hasAddress && comment.user.hasPhone)"
                                        class="pull-right"
                                        href="">
                                        <span class="glyphicon glyphicon-edit"></span>
                                    </a>

                                    <a class="pull-right"
                                       ng-if="comment.user.hasPhone && comment.user.hasAddress">
                                        <span class="glyphicon glyphicon-ok"></span>
                                    </a>

                                    <span class="pull-right by-fb-user">
                                        by <a  target="_blank" href="{{comment.user.userProfile}}">{{comment.user.username}}</a>
                                    </span>
                                </p>
                            </div>
                        </article>
                    </section>
                </div>
            </div>
        </div>
    </div>

    <br /><br /><br />
</div>
