<div class="modal-dialog">
    <div class="modal-header">
        <h3>{{modalOptions.headerText}}</h3>
    </div>
    <div class="modal-body">
        <form name="editForm" novalidate>
            <div class="customerEdit">
                <div class="row">
                    <div class="col-md-2">
                        SĐT:
                    </div>
                    <div class="col-md-10">
                        <input type="text" name="phone" class="form-control" data-ng-model="vm.customer.phone" required />
                        <span class="errorMessage" ng-show="editForm.phone.$touched && editForm.phone.$invalid">
                            Vui lòng nhập số điện thoại
                        </span>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-2">
                        Địa chỉ:
                    </div>
                    <div class="col-md-10">
                        <input type="text" name="address" class="form-control" data-ng-model="vm.customer.address" />
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-2">
                        Loại khách:
                    </div>
                    <div class="col-md-10">
                        <div class="radio">
                            <label class="radio">
                                <input type="radio" name="typeId" value="1"
                                       data-ng-checked="vm.customer.typeId !== 2"
                                       data-ng-model="vm.customer.typeId" />
                                Lẻ
                            </label>
                        </div>
                        <div class="radio">
                            <label class="radio">
                                <input type="radio" name="typeId" value="2"
                                       data-ng-checked="vm.customer.typeId == 2"
                                       data-ng-model="vm.customer.typeId" />
                                Sỉ
                            </label>
                        </div>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-2">
                        Email:
                    </div>
                    <div class="col-md-10">
                        <!-- allowInvalid added below so that the model isn't wiped
                        out (the default behavior) if email is determined to be invalid due to being a duplicate-->
                        <input type="text" name="email"
                               class="form-control"
                               data-ng-model="vm.customer.email"
                               data-ng-model-options="{ updateOn: 'blur', allowInvalid: true }"
                               data-wc-unique
                               data-wc-unique-key="{{vm.customer.id}}"
                               data-wc-unique-property="email"
                               data-ng-minlength="3" />
                        <!-- Show error if touched and unique is in error -->
                        <span class="errorMessage" ng-show="editForm.email.$touched && editForm.email.$error.unique">
                            Email đã được sử dụng
                        </span>
                    </div>
                </div>
                <br ng-if="vm.customer.relateInfo" />
                <div class="row" ng-if="vm.customer.relateInfo">
                    <div class="col-md-2">
                        Thông tin liên quan:
                    </div>
                    <div class="col-md-10">
                        <textarea readonly="true" class="form-control">
                            {{vm.customer.facebook.relateInfo}}
                        </textarea>
                    </div>
                </div>
                <br />
                <div class="statusRow">
                    <br />
                    <div class="label label-success" data-ng-show="vm.updateStatus">
                        <span class="glyphicon glyphicon-thumbs-up icon-white"></span>&nbsp;&nbsp;Đã cập nhật khách hàng!
                    </div>
                </div>
                <div class="statusRow">
                    <br />
                    <div class="label label-important" data-ng-show="vm.errorMessage">
                        <span class="glyphicon glyphicon-thumbs-down icon-white"></span>&nbsp;&nbsp;Error: {{ vm.errorMessage }}
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn" data-ng-click="modalOptions.close()">{{modalOptions.closeButtonText}}</button>
        <button class="btn btn-primary" data-ng-click="modalOptions.ok();">{{modalOptions.actionButtonText}}</button>
    </div>
</div>

