<div class="view">
    <div class="container">
        <header>
            <h3><span class="glyphicon glyphicon-lock"></span> Đăng nhập</h3>
        </header>
        <form name="loginForm" novalidate>
            <div class="login">
                <div class="row">
                    <div class="col-md-12">
                        <button type="submit"
                            class="btn btn-primary"
                            data-ng-click="vm.loginWithFacebook()">
                            {{vm.facebookBtnText}}
                        </button>
                    </div>

                    <br />
                </div>
                <br />
                <div class="statusRow">
                    <br />
                    <div class="label label-important" data-ng-show="vm.errorMessage">
                        <span class="glyphicon glyphicon-thumbs-down icon-white"></span>&nbsp;&nbsp;Error: {{ vm.errorMessage }}
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

