<div class="view">
    <div class="container">
        <header>
            <h3><span class="glyphicon glyphicon-edit"></span> {{vm.title}} Khách Hàng</h3>
        </header>
        <form name="editForm" novalidate>
            <div class="customerEdit">
                <div class="row">
                    <div class="col-md-12">
                        <a href="{{vm.customer.facebook.link}}" target="_blank">Facebook Profile</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h4>{{ vm.customer.firstName + ' ' + vm.customer.lastName }} <span data-ng-hide="vm.customer.id == 0">(<a style="font-size:12pt" href="#/customerorders/{{vm.customer.id}}">View Orders</a>)</span></h4>
                        <br />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        First Name:
                    </div>
                    <div class="col-md-10">
                        <input type="text" name="firstName" class="form-control" data-ng-model="vm.customer.firstName" required />
                        <span class="errorMessage" ng-show="editForm.firstName.$touched && editForm.firstName.$invalid">
                            Vui lòng nhập First Name
                        </span>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-2">
                        Last Name:
                    </div>
                    <div class="col-md-10">
                        <input type="text" name="lastName" class="form-control" data-ng-model="vm.customer.lastName" required />
                        <span class="errorMessage" ng-show="editForm.lastName.$touched && editForm.lastName.$invalid">
                            Vui lòng nhập Last Name
                        </span>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-2">
                        SĐT:
                    </div>
                    <div class="col-md-10">
                        <input type="text" name="phone" class="form-control" data-ng-model="vm.customer.phone" required />
                        <span class="errorMessage" ng-show="editForm.phone.$touched && editForm.phone.$invalid">
                            Vui lòng nhập số điện thoại
                        </span>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-2">
                        Địa chỉ:
                    </div>
                    <div class="col-md-10">
                        <textarea name="address" class="form-control" data-ng-model="vm.customer.address">
                        </textarea>
                    </div>
                </div>
                <br />
                <!-- <div class="row">
                    <div class="col-md-2">
                        Tỉnh/Thành phố:
                    </div>
                    <div class="col-md-10">
                        <select name="city" required class="form-control"
                                data-ng-model="vm.customer.city"
                                data-ng-options="city.id as city.name for city in vm.cities">
                            <option value=""></option>
                        </select>
                        <span class="errorMessage" ng-show="editForm.city.$touched && editForm.city.$invalid">
                            Vui lòng chọn tỉnh/thành phố
                        </span>
                    </div>
                </div>
                <br /> -->
                <div class="row">
                    <div class="col-md-2">
                        Loại khách:
                    </div>
                    <div class="col-md-10">
                        <div class="radio">
                            <label class="radio">
                                <input type="radio" name="typeId" value="1"
                                       data-ng-checked="vm.customer.typeId !== 2"
                                       data-ng-model="vm.customer.typeId" />
                                Lẻ
                            </label>
                        </div>
                        <div class="radio">
                            <label class="radio">
                                <input type="radio" name="typeId" value="2"
                                       data-ng-checked="vm.customer.typeId == 2"
                                       data-ng-model="vm.customer.typeId" />
                                Sỉ
                            </label>
                        </div>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-2">
                        Giới tính:
                    </div>
                    <div class="col-md-10">
                        <div class="radio">
                            <label class="radio">
                                <input type="radio" name="gender" value="Female"
                                       data-ng-checked="vm.customer.gender !== 'Male'"
                                       data-ng-model="vm.customer.gender" />
                                Nữ
                            </label>
                        </div>
                        <div class="radio">
                            <label class="radio">
                                <input type="radio" name="gender" value="Male"
                                       data-ng-checked="vm.customer.gender == 'Male'"
                                       data-ng-model="vm.customer.gender" />
                                Nam
                            </label>
                        </div>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-2">
                        Email:
                    </div>
                    <div class="col-md-10">
                        <!-- allowInvalid added below so that the model isn't wiped
                        out (the default behavior) if email is determined to be invalid due to being a duplicate-->
                        <input type="text" name="email"
                               class="form-control"
                               data-ng-model="vm.customer.email"
                               data-ng-model-options="{ updateOn: 'blur', allowInvalid: true }"
                               data-wc-unique
                               data-wc-unique-key="{{vm.customer.id}}"
                               data-wc-unique-property="email"
                               data-ng-minlength="3" />
                        <!-- Show error if touched and unique is in error -->
                        <span class="errorMessage" ng-show="editForm.email.$touched && editForm.email.$error.unique">
                            Email đã được sử dụng
                        </span>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-2">
                        Thông tin liên quan:
                    </div>
                    <div class="col-md-10">
                        <textarea readonly="true" class="form-control">
                            {{vm.customer.facebook.relateInfo}}
                        </textarea>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-12">
                        <button type="submit" class="btn btn-primary" data-ng-click="vm.saveCustomer()"
                                ng-disabled="editForm.$invalid || !editForm.$dirty">
                            {{vm.buttonText}}
                        </button>
                        &nbsp;&nbsp;
                        <button class="btn btn-danger" data-ng-if="vm.customer.id > 0" data-ng-click="vm.deleteCustomer()">Xóa</button>
                    </div>
                </div>
                <br />
                <div class="statusRow">
                    <br />
                    <div class="label label-success" data-ng-show="vm.updateStatus">
                        <span class="glyphicon glyphicon-thumbs-up icon-white"></span>&nbsp;&nbsp;Đã cập nhật khách hàng!
                    </div>
                </div>
                <div class="statusRow">
                    <br />
                    <div class="label label-important" data-ng-show="vm.errorMessage">
                        <span class="glyphicon glyphicon-thumbs-down icon-white"></span>&nbsp;&nbsp;Lỗi: {{ vm.errorMessage }}
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
